#title{
    font-style: italic;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body{
    background-color:blueviolet;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-width: 100px;
    
}
.color{
    border: 1px black solid;
    display: inline-block;
    width: 35px;
    height: 40px;
    align-items: center;
}
#cor1{
    background-color: black;
}
#cor2{
    background-color: aqua;
}
#cor3{
    background-color: brown;

}
#cor4{
    background-color: coral;
}
.pixel {
    background: white;
}
#pixel-board{
    height: 600px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 1px;
    
}
